<!-- left-header-->
<aside class="left-header">
    <span class="lh_dec color-bg"></span>
    <div class="left-header_social">
        <ul>
          <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
</aside>
<!-- left-header end-->
