<header class="main-header">
    <!-- logo  -->
    <a href="/" class="ajax logo-holder"><img src="img/logo.png" alt=""></a>
    <!-- logo end -->
    <!-- nav-button-wrap-->
    <div class="nav-button but-hol">
        <span  class="ncs"></span>
        <span class="nos"></span>
        <span class="nbs"></span>
        <div class="menu-button-text">Menu</div>
    </div>
    <!-- nav-button-wrap end-->
    <!-- header-contacts-->
    <div class="header-contacts">
        <ul>
            <li><span>Call </span> <a href="tel:+2348105001830">08105001830</a></li>
            <li><span>Write </span> <a href="mailto:info@lognetics.com">info@lognetics.com</a></li>
        </ul>
        <a href="contacts.html" class="ajax contacts-btn">Get in touch</a>
    </div>
    <!-- header-contacts end-->
</header>
