<!-- loader   -->
      <div class="loader">
          <div class="loading-text-container "><span class="loading-text">Loading<strong></strong></span> <span class="loader_count">0</span></div>
          <div class="loader-anim"></div>
          <div class="loader-anim2 color-bg"></div>
      </div>
<!-- loader  end-->
